html {
  background-image: url("../old-rough-and-grungy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px; 
}

body {
  font-family: "Questrial";
  font-size: 20px;
  color: black;
  border: 2px solid gray;
  background: rgb(255, 255, 255);
  width: 90%;
  margin: 10px auto;
  padding: 60px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 35px;
}

nav {
  padding: 16px 0 16px 0;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

a {
  margin-right: 16px;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  
}

nav a:hover {
  background-color: #ffffff00;
  color: #C49919;
}

section {
  display: inline-block;
  width: 500px;
  padding: 0 50px 0 0;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

section h2 {
  font-size: 30px;
}

section p {
  font-size: 14px;
}

aside {
  display: inline-block;
  width: 500px;
  vertical-align: top;
  padding: 0 0 0 50px;
  border-left: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 35px;
}

aside h2 {
  font-size: 30px;
}

aside p {
  font-size: 14px;
}

#img {
  max-width: 100%;
  display: block;
  position: center;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  margin: 0 auto;
  padding: 25px;
}


